.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
}

.imageGallery li {
  flex: 1 1 calc(25% - 15px);
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 205, 168);
}
